<h3>Hi {{currentUser.firstName}}!</h3>
<h1>WELCOME HOME</h1>
<!-- <ul>
    <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li>
</ul> -->

    <h3> Guitar-Rs 3000</h3>
    <button>buy</button>
    <button>decline</button>
    <h3>piano-rs 20,000</h3>
    <button>buy</button>
    <button>decline</button>
    <h3>violin-rs 5000</h3>
    <button>buy</button>
    <button>decline</button>
    <h3>drums-rs 15000</h3>
    <button>buy</button>
    <button>decline</button>
    <h3>synthsiser -rs 8000</h3>
    <button>buy</button>
    <button>decline</button>
        